# Simple data cleaning

* It is critical to reduce the potential bias in the machine learning models and get the precise statistical analysis of the data.
* Handling missing values is one of the challenges of data analysis.
Understanding different categories of missing data help in making decisions on how to handle it.
* We explored different categories of missing data and the different ways of handling it in this article.
* Missing values handling is a gigantic topic. In any case, it’s very important to understand your data well and why it’s missing, talk to the experts if possible to figure out what’s going on with the data before blindly following any of the above methods.

links:

* https://scikit-learn.org/stable/modules/impute.html

* https://github.com/justmarkham/scikit-learn-tips
* https://www.analyticsvidhya.com/blog/2021/10/handling-missing-value/

* **import the pandas library and create df**

In [82]:
# import the pandas library
import pandas as pd
import numpy as np

df = pd.DataFrame(np.random.randn(5, 3), index=['a', 'c', 'e', 'f','h'],columns=['one', 'two', 'three'])

df = df.reindex(['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h'])

df

        one       two     three
a  2.279494 -1.578057 -0.117141
b       NaN       NaN       NaN
c -0.592027  0.781732  2.256275
d       NaN       NaN       NaN
e  0.612278 -0.955539 -1.953582
f  1.040333 -0.290936  1.167188
g       NaN       NaN       NaN
h -1.582051  0.722336  0.816255

* **Check for Missing Values**

In [83]:
df.isnull()

     one    two  three
a  False  False  False
b   True   True   True
c  False  False  False
d   True   True   True
e  False  False  False
f  False  False  False
g   True   True   True
h  False  False  False

* **Replace NaN with a Scalar Value**

In [84]:
df.fillna(0)

        one       two     three
a  2.279494 -1.578057 -0.117141
b  0.000000  0.000000  0.000000
c -0.592027  0.781732  2.256275
d  0.000000  0.000000  0.000000
e  0.612278 -0.955539 -1.953582
f  1.040333 -0.290936  1.167188
g  0.000000  0.000000  0.000000
h -1.582051  0.722336  0.816255

* **Fill NA Forward and Backward**

* pad/fill	      __Fill methods Forward
* bfill/backfill	__Fill methods Backward

In [85]:
df.fillna(method='ffill')

        one       two     three
a  2.279494 -1.578057 -0.117141
b  2.279494 -1.578057 -0.117141
c -0.592027  0.781732  2.256275
d -0.592027  0.781732  2.256275
e  0.612278 -0.955539 -1.953582
f  1.040333 -0.290936  1.167188
g  1.040333 -0.290936  1.167188
h -1.582051  0.722336  0.816255

In [45]:
df.fillna(method='bfill')

        one       two     three
a  0.751589 -1.172008 -0.428537
b  1.994096 -0.989879 -0.517676
c  1.994096 -0.989879 -0.517676
d -0.010680 -0.225074  0.248452
e -0.010680 -0.225074  0.248452
f  0.842293 -2.167599  0.731653
g  1.631308  0.451923  0.657599
h  1.631308  0.451923  0.657599

* **Interpolation**

In [87]:
df.interpolate()

        one       two     three
a  2.279494 -1.578057 -0.117141
b  0.843733 -0.398162  1.069567
c -0.592027  0.781732  2.256275
d  0.010125 -0.086903  0.151347
e  0.612278 -0.955539 -1.953582
f  1.040333 -0.290936  1.167188
g -0.270859  0.215700  0.991722
h -1.582051  0.722336  0.816255

* **Drop Missing Values**

* If you want to simply exclude the missing values, then use the dropna function along with the axis argument. By default, axis=0, i.e., along row, which means that if any value within a row is NA then the whole row is excluded.

In [46]:
df.dropna()

        one       two     three
a  0.751589 -1.172008 -0.428537
c  1.994096 -0.989879 -0.517676
e -0.010680 -0.225074  0.248452
f  0.842293 -2.167599  0.731653
h  1.631308  0.451923  0.657599

* **Imputing Missing Values For Categorical Features**

* **Impute the Most Frequent Value**

In [88]:
import pandas as pd
import numpy as np
X = pd.DataFrame({'Shape':['square', 'square', 'oval', 'circle', np.nan]})
X

    Shape
0  square
1  square
2    oval
3  circle
4     NaN

In [89]:
from sklearn.impute import SimpleImputer
imputer = SimpleImputer(strategy='most_frequent')
imputer.fit_transform(X)

array([['square'],
       ['square'],
       ['oval'],
       ['circle'],
       ['square']], dtype=object)

* As you can see, the missing value is imputed with the most frequent value ’square’.

* **Impute the Value “missing”, which treats it as a Separate Category**

* In any of the above approaches, you will still need to OneHotEncode the data (or you can also use some other encoder of your choice)
* After One Hot Encoding, in case 1, instead of the values ‘square’, ‘oval’,’ circle’, you will get three feature columns. And in case 2, you will get four feature columns (4th one for the ‘missing’ category). So it’s like adding the missing indicator column in the data.

In [90]:
imputer = SimpleImputer(strategy='constant', fill_value='missing')
imputer.fit_transform(X)

array([['square'],
       ['square'],
       ['oval'],
       ['circle'],
       ['missing']], dtype=object)

* **Imputation of Missing Value Using sci-kit learn Library**

* **Univariate Approach**

In [92]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='mean')
imp.fit([[1, 2], [np.nan, 3], [7, 6]])

SimpleImputer()

In [93]:
X = [[np.nan, 2], [6, np.nan], [7, 6]]
print(imp.transform(X))

[[4.         2.        ]
 [6.         3.66666667]
 [7.         6.        ]]

* **Multivariate Approach**

* In a multivariate approach, more than one feature is taken into consideration. There are two ways to impute missing values considering the multivariate approach. Using KNNImputer or IterativeImputer classes.

* Let’s take an example of a titanic dataset.

* Suppose the feature ‘age’ is well correlated with the feature ‘Fare’ such that people with lower fares are also younger and people with higher fares are also older.

* In that case, it would make sense to impute low age for low fare values and high age for high fares values. So here we are taking multiple features into account by following a multivariate approach.

* **IterativeImputer method**

In [101]:
SibSp = [1,1,0,1,0,0]
Fare = [7.25,71.2833,7.925,53.1,8.05,8.4583]
Age = [22,38,26,35,35,"NaN"]
dictionary = {"SibSp":SibSp,"Fare":Fare,"Age":Age}
X=pd.DataFrame(dictionary)

In [102]:
from sklearn.experimental import enable_iterative_imputer
from sklearn.impute import IterativeImputer
impute_it = IterativeImputer()
impute_it.fit_transform(X)

array([[ 1.        ,  7.25      , 22.        ],
       [ 1.        , 71.2833    , 38.        ],
       [ 0.        ,  7.925     , 26.        ],
       [ 1.        , 53.1       , 35.        ],
       [ 0.        ,  8.05      , 35.        ],
       [ 0.        ,  8.4583    , 28.50639495]])

* Let’s see how IterativeImputer works. For all rows, in which ‘Age’ is not missing sci-kit learn runs a regression model. It uses ‘Sib sp’ and ‘Fare’ as the features and ‘Age’ as the target. 
* And then for all rows for which ‘Age’ is missing, it makes predictions for ‘Age’ by passing ‘Sib sp’ and ‘Fare’ to the training model. 
* So it actually builds a regression model with two features and one target and then makes predictions on any places where there are missing values. And those predictions are the imputed values.

* **Nearest Neighbors Imputations (KNNImputer)**

* Missing values are imputed using the k-Nearest Neighbors approach where a Euclidean distance is used to find the nearest neighbors.

In [103]:
from sklearn.impute import KNNImputer
impute_knn = KNNImputer(n_neighbors=2)
impute_knn.fit_transform(X)

array([[ 1.    ,  7.25  , 22.    ],
       [ 1.    , 71.2833, 38.    ],
       [ 0.    ,  7.925 , 26.    ],
       [ 1.    , 53.1   , 35.    ],
       [ 0.    ,  8.05  , 35.    ],
       [ 0.    ,  8.4583, 30.5   ]])

* In the above example, the n_neighbors=2. So sci-kit learn finds the two most similar rows measured by how close the ‘Sib sp’ and ‘Fare’ values are to the row which has missing values. 
* In this case, the last row has a missing value. And the third row and the fifth row have the closest values for the other two features. 
* So the average of the ‘Age’ feature from these two rows is taken as the imputed value.

* **Adding missing indicator to encode “missingness” as a feature**

* In some cases, while imputing missing values, you can preserve information about which values were missing and use that as a feature.
* Because sometimes there may be a relationship between the reason for missing values (also called the “missingness”) and the target variable you are trying to predict.

Why do we need to do this?

* Suppose you are predicting the presence of a disease and you can imagine a scenario in which a missing age is a good predictor of a disease because assume that we don’t have records for people in poverty. The age values are not missing at random. They are missing for people in poverty and poverty is a good predictor of disease. Thus, missing age or “missingness” is a good predictor of disease.

In [104]:
import pandas as pd
import numpy as np
X = pd.DataFrame({'Age':[20, 30, 10, np.nan, 10]})
X

    Age
0  20.0
1  30.0
2  10.0
3   NaN
4  10.0

In [106]:
from sklearn.impute import SimpleImputer
# impute the mean
imputer = SimpleImputer()
imputer.fit_transform(X)

array([[20. ],
       [30. ],
       [10. ],
       [17.5],
       [10. ]])

In [107]:
imputer = SimpleImputer(add_indicator=True)
imputer.fit_transform(X)

array([[20. ,  0. ],
       [30. ,  0. ],
       [10. ,  0. ],
       [17.5,  1. ],
       [10. ,  0. ]])

* In the above example, the second column indicates whether the corresponding value in the first column was missing or not. ‘1’ indicates that the corresponding value was missing and ‘0’ indicates that the corresponding value was not missing.

* If you don’t want to impute missing values but only want to have the indicator matrix then you can use the ‘MissingIndicator’ class from scikit learn.

* **OneHotEncoder and OrdinalEncoder**

Two common ways to encode categorical features:

* OneHotEncoder for unordered (nominal) data
* OrdinalEncoder for ordered (ordinal) data

In [111]:
import pandas as pd
X = pd.DataFrame({'Shape':['square', 'square', 'oval', 'circle'],
                  'Class': ['third', 'first', 'second', 'third'],
                  'Size': ['S', 'S', 'L', 'XL']})

In [113]:
# "Shape" is unordered, "Class" and "Size" are ordered
X

    Shape   Class Size
0  square   third    S
1  square   first    S
2    oval  second    L
3  circle   third   XL

In [115]:
from sklearn.preprocessing import OneHotEncoder, OrdinalEncoder
# left-to-right column order is alphabetical (circle, oval, square)
ohe = OneHotEncoder(sparse=False)
ohe.fit_transform(X[['Shape']])

array([[0., 0., 1.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.]])

In [116]:
# category ordering (within each feature) is defined by you
oe = OrdinalEncoder(categories=[['first', 'second', 'third'], ['S', 'M', 'L', 'XL']])
oe.fit_transform(X[['Class', 'Size']])

array([[2., 0.],
       [0., 0.],
       [1., 2.],
       [2., 3.]])

# Handling Missing Values for loan dataset

In [50]:
import pandas as pd
import numpy as np
train_df = pd.read_csv('/content/loan_data_set.csv')
train_df

,Loan_ID,Gender,Married,Dependents,Education,Self_Employed,ApplicantIncome,CoapplicantIncome,LoanAmount,Loan_Amount_Term,Credit_History,Property_Area,Loan_Status
0,LP001002,Male,No,0,Graduate,No,5849,0.0,NaN,360.0,1.0,Urban,Y
1,LP001003,Male,Yes,1,Graduate,No,4583,1508.0,128.0,360.0,1.0,Rural,N
2,LP001005,Male,Yes,0,Graduate,Yes,3000,0.0,66.0,360.0,1.0,Urban,Y
3,LP001006,Male,Yes,0,Not Graduate,No,2583,2358.0,120.0,360.0,1.0,Urban,Y
4,LP001008,Male,No,0,Graduate,No,6000,0.0,141.0,360.0,1.0,Urban,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,LP002978,Female,No,0,Graduate,No,2900,0.0,71.0,360.0,1.0,Rural,Y
610,LP002979,Male,Yes,3+,Graduate,No,4106,0.0,40.0,180.0,1.0,Rural,Y
611,LP002983,Male,Yes,1,Graduate,No,8072,240.0,253.0,360.0,1.0,Urban,Y
612,LP002984,Male,Yes,2,Graduate,No,7583,0.0,187.0,360.0,1.0,Urban,Y
613,LP002990,Female,No,0,Graduate,Yes,4583,0.0,133.0,360.0,0.0,Semiurban,N

In [49]:
df.columns

Index(['Loan_ID', 'Gender', 'Married', 'Dependents', 'Education',
       'Self_Employed', 'ApplicantIncome', 'CoapplicantIncome', 'LoanAmount',
       'Loan_Amount_Term', 'Credit_History', 'Property_Area', 'Loan_Status'],
      dtype='object')

* **Checking for missing values**

In [51]:
#Find the missing values from each column
train_df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Dependents           15
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

* From the above output, we can see that there are 6 columns – Gender, Married, Dependents, Self_Employed, LoanAmount, Loan_Amount_Term and Credit_History having missing values.

In [67]:
#Find the total number of missing values from the entire dataset
train_df.isnull().sum().sum()

149

* **Deleting the Missing value**

In [68]:
df = train_df.dropna(axis=0)
df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

* **Deleting the entire column**

In [69]:
df = train_df.drop(['Dependents'],axis=1)
df.isnull().sum()

Loan_ID               0
Gender               13
Married               3
Education             0
Self_Employed        32
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount           22
Loan_Amount_Term     14
Credit_History       50
Property_Area         0
Loan_Status           0
dtype: int64

* **Imputing the Missing Value**

* **Replacing With Arbitrary Value**

In [70]:
train_df['Dependents'] = train_df['Dependents'].fillna(0)
print(train_df['Dependents'])
train_df['Dependents'].isnull().sum()

0       0
1       1
2       0
3       0
4       0
       ..
609     0
610    3+
611     1
612     2
613     0
Name: Dependents, Length: 614, dtype: object

0

* **Replacing With Mean**

* This is the most common method of imputing missing values of numeric columns. If there are outliers then the mean will not be appropriate. In such cases, outliers need to be treated first.
* You can use the ‘fillna’ method for imputing the columns ‘LoanAmount’ and ‘Credit_History’ with the mean of the respective column values.

In [77]:
#Replace the missing values for numerical columns with mean
train_df['LoanAmount'] = train_df['LoanAmount'].fillna(train_df['LoanAmount'].mean())
train_df['Credit_History'] = train_df['Credit_History'].fillna(train_df['Credit_History'].mean())

* **Replacing With Mode**

* Mode is the most frequently occurring value. It is used in the case of categorical features.

* You can use the ‘fillna’ method for imputing the categorical columns ‘Gender’, ‘Married’, and ‘Self_Employed’.

In [78]:
#Replace the missing values for categorical columns with mode
train_df['Gender'] = train_df['Gender'].fillna(train_df['Gender'].mode()[0])
train_df['Married'] = train_df['Married'].fillna(train_df['Married'].mode()[0])
train_df['Self_Employed'] = train_df["Self_Employed"].fillna(train_df['Self_Employed'].mode()[0])
train_df.isnull().sum()

Loan_ID               0
Gender                0
Married               0
Dependents            0
Education             0
Self_Employed         0
ApplicantIncome       0
CoapplicantIncome     0
LoanAmount            0
Loan_Amount_Term     14
Credit_History        0
Property_Area         0
Loan_Status           0
dtype: int64

In [75]:
train_df['Self_Employed'].isnull().sum()

32

* **Replacing With Median**

In [79]:
train_df['Loan_Amount_Term']= train_df['Loan_Amount_Term'].fillna(train_df['Loan_Amount_Term'].median())

In [80]:
train_df.isnull().sum()

Loan_ID              0
Gender               0
Married              0
Dependents           0
Education            0
Self_Employed        0
ApplicantIncome      0
CoapplicantIncome    0
LoanAmount           0
Loan_Amount_Term     0
Credit_History       0
Property_Area        0
Loan_Status          0
dtype: int64

# Data Cleaning for BL-Flickr-Images-Book

* Before fitting a machine learning or statistical model, we always have to clean the data. No models create meaningful results with messy data.
* Data cleaning or cleansing is the process of detecting and correcting (or removing) corrupt or inaccurate records from a record set, table, or database and refers to identifying incomplete, incorrect, inaccurate or irrelevant parts of the data and then replacing, modifying, or deleting the dirty or coarse data.

* Dropping Columns in a DataFrame
* Changing the Index of a DataFrame
* Tidying up Fields in the Data
* Combining str Methods with NumPy to Clean Columns
* Cleaning the Entire Dataset Using the applymap Function

In [117]:
import pandas as pd
import numpy as np

In [118]:
df = pd.read_csv('/content/BL-Flickr-Images-Book.csv')
df.head()

,Identifier,Edition Statement,Place of Publication,Date of Publication,Publisher,Title,Author,Contributors,Corporate Author,Corporate Contributors,Former owner,Engraver,Issuance type,Flickr URL,Shelfmarks
0,206,NaN,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,"FORBES, Walter.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12641.b.30.
1,216,NaN,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12626.cc.2.
2,218,NaN,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.","BLAZE DE BURY, Marie Pauline Rose - Baroness",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 12625.dd.1.
3,472,NaN,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.","Appleyard, Ernest Silvanus.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 10369.bbb.15.
4,480,"A new edition, revised, etc.",London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.","BROOME, John Henry.",NaN,NaN,NaN,NaN,monographic,http://www.flickr.com/photos/britishlibrary/ta...,British Library HMNTS 9007.d.28.

In [119]:
df.columns

Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

* **Dropping Columns in a DataFrame**

* we can see that a handful of columns provide ancillary information that would be helpful to the library but isn’t very descriptive of the books themselves: **Edition Statement, Corporate Author, Corporate Contributors, Former owner, Engraver, Issuance type and Shelfmarks.**

In [120]:
## Dropping unnecessary columns
# list of columns to be dropped
to_drop = ['Edition Statement', 'Corporate Author', 'Corporate Contributors',
           'Former owner', 'Engraver', 'Contributors', 'Issuance type', 'Shelfmarks']

df.drop(to_drop, inplace=True, axis=1)
df

,Identifier,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
0,206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
1,216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
2,218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
3,472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
4,480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...,...
5851,2901148,London,1889,Swan Sonnenschein & Co.,The Fatal Phryne,"Philips, Francis Charles",http://www.flickr.com/photos/britishlibrary/ta...
5852,2901150,London,1891,Trischler & Co.,A Maiden Fair to See. ... Illustrated by G. A....,"Philips, Francis Charles",http://www.flickr.com/photos/britishlibrary/ta...
5853,2901151,London,1890,Gardner & Co.,The Scudamores. A novel,"Philips, Francis Charles",http://www.flickr.com/photos/britishlibrary/ta...
5854,2901315,London,1743,R. Dodsley,The Crooked Six-pence. With a learned preface ...,"PHILIPS, Katharine - called “The Matchless Ori...",http://www.flickr.com/photos/britishlibrary/ta...
5855,2902069,London,1817,W. Hone,[The Speech delivered ... in Creighton v. Town...,"PHILLIPS, Charles - One of the Commissioners o...",http://www.flickr.com/photos/britishlibrary/ta...

* **Changing the Index of a DataFrame**

* For example, in the dataset used in the previous section, it can be expected that when a librarian searches for a record, they may input the unique identifier (values in the **Identifier column**) for a book:

In [121]:
df = df.set_index('Identifier')
df.head()

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879 [1878],S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London; Virtue & Yorston,1868,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...

* **Tidying up Fields in the Data**

* we will clean specific columns and get them to a uniform format to get a better understanding of the dataset and enforce consistency.
* We will be cleaning **Date of Publication and Place of Publication.**

In [122]:
extr = df['Date of Publication'].str.extract(r'^(\d{4})', expand=False)
extr.head()

Identifier
206    1879
216    1868
218    1869
472    1851
480    1857
Name: Date of Publication, dtype: object

Technically, this column still has **object dtype**, but we can easily get its **numerical** version with pd.to_numeric:

In [123]:
df['Date of Publication'] = pd.to_numeric(extr)
df['Date of Publication'].dtype

dtype('float64')

In [124]:
df["Date of Publication"]

Identifier
206        1879.0
216        1868.0
218        1869.0
472        1851.0
480        1857.0
            ...
2901148    1889.0
2901150    1891.0
2901151    1890.0
2901315    1743.0
2902069    1817.0
Name: Date of Publication, Length: 5856, dtype: float64

percentage of **Null values**

In [125]:
df['Date of Publication'].isnull().sum() / len(df)

0.11150956284153006

* **Combining str Methods with NumPy to Clean Columns**

* To clean the Place of Publication field, we can combine Pandas str methods with NumPy’s np.where function, which is basically a vectorized form of Excel’s IF() macro. It has the following syntax:

In [126]:
# np.where(condition, then, else)

In [127]:
"""np.where(condition1, x1, 
        np.where(condition2, x2, 
            np.where(condition3, x3, ...)))"""

'np.where(condition1, x1, \n        np.where(condition2, x2, \n            np.where(condition3, x3, ...)))'

In [128]:
df['Place of Publication'].head(10)

Identifier
206                                  London
216                London; Virtue & Yorston
218                                  London
472                                  London
480                                  London
481                                  London
519                                  London
667     pp. 40. G. Bryan & Co: Oxford, 1898
874                                 London]
1143                                 London
Name: Place of Publication, dtype: object

* We see that for some rows, the place of publication is surrounded by other **unnecessary information**. If we were to look at more values, we would see that this is the case for only some rows that have their place of publication as **‘London’** or **‘Oxford’**.

In [129]:
pub = df['Place of Publication']
london = pub.str.contains('London')
oxford = pub.str.contains('Oxford')

df['Place of Publication'] = np.where(london, 'London',
                                      np.where(oxford, 'Oxford',
                                               pub.str.replace('-', ' ')))

In [132]:
df

,Place of Publication,Date of Publication,Publisher,Title,Author,Flickr URL
Identifier,,,,,,
206,London,1879.0,S. Tinsley & Co.,Walter Forbes. [A novel.] By A. A,A. A.,http://www.flickr.com/photos/britishlibrary/ta...
216,London,1868.0,Virtue & Co.,All for Greed. [A novel. The dedication signed...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
218,London,1869.0,"Bradbury, Evans & Co.",Love the Avenger. By the author of “All for Gr...,"A., A. A.",http://www.flickr.com/photos/britishlibrary/ta...
472,London,1851.0,James Darling,"Welsh Sketches, chiefly ecclesiastical, to the...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
480,London,1857.0,Wertheim & Macintosh,"[The World in which I live, and my place in it...","A., E. S.",http://www.flickr.com/photos/britishlibrary/ta...
...,...,...,...,...,...,...
2901148,London,1889.0,Swan Sonnenschein & Co.,The Fatal Phryne,"Philips, Francis Charles",http://www.flickr.com/photos/britishlibrary/ta...
2901150,London,1891.0,Trischler & Co.,A Maiden Fair to See. ... Illustrated by G. A....,"Philips, Francis Charles",http://www.flickr.com/photos/britishlibrary/ta...
2901151,London,1890.0,Gardner & Co.,The Scudamores. A novel,"Philips, Francis Charles",http://www.flickr.com/photos/britishlibrary/ta...
2901315,London,1743.0,R. Dodsley,The Crooked Six-pence. With a learned preface ...,"PHILIPS, Katharine - called “The Matchless Ori...",http://www.flickr.com/photos/britishlibrary/ta...
2902069,London,1817.0,W. Hone,[The Speech delivered ... in Creighton v. Town...,"PHILLIPS, Charles - One of the Commissioners o...",http://www.flickr.com/photos/britishlibrary/ta...